*.canglin.top {
  tls {
      dns cloudflare
  }
}

https://file.canglin.top:1443 {
  gzip
  proxy / http://172.18.18.251:8082 {
    transparent
    websocket
  }
}

https://dav.canglin.top:1443 {
  basicauth / user password
  webdav / {
    scope  /davroot
    modify  true
    allow  /
  }
}
